# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
search-server/.vscode/settings.json
search-server/.vscode/tasks.json
search-server/.vscode/launch.json
search-server/.vscode/settings.json
.gitignore
search-server/.vscode/settings.json
